@import '_robo-cleaner-theme';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: block;
    height: 100%;
}

.push-down {
    margin-top: 15px;
}

.push-up {
    margin-bottom: 15px;
}